#header{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

.profile-pic {
    position: absolute;
    opacity: 0.9;
    margin-left: 50%;
    margin-top: 38%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid transparent; /* needed for hover effect */
    transition: all 0.3s ease-in-out;
}

.profile-pic:hover {
  border-color: #ff004f; /* highlight border */
  box-shadow: 0 0 20px rgba(255, 0, 79, 0.6); /* glow effect */
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: width 0.5s ease;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}