#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

.background{
    height: 50%;
    position: absolute;
    width: 35%;
    z-index: -1;
    opacity: 0.7;
    margin-left: 40%;
    margin-top: 38%;
    border-radius: 50%;
}

.background:hover{
    opacity: 1;
    transform: scale(1.05);
    border: 2px solid #ff004f;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff004f;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: width 0.5s ease;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}