
#certificates {
  padding: 50px 0;
}
.certificate-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.certificate{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 5px 5px 15px rgba(255, 0, 79, 0.6);
}
.certificate img {
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: -20px;
    bottom: -8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 15px;
}
.layer a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #ff004f;
    border-radius: 30px;
}

.certificate:hover img{
    transform: scale(1.1);

}
.certificate:hover .layer{
    height: 100%;
    transition: height 0.5s;

}