.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    color: #ababab;
    margin-right: 15px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.download-cv {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff004f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
}
.contact-right{
    margin-top: 30px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;

}


.submit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff004f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #fefafb;
    color: rgb(239, 4, 4);
    transition: background-color 0.3s;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}