#projects{
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background:  #aeb1b6;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: all 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover {
    background: #ff004f;
    transform: translateY(-12px) scale(1.05);
    box-shadow: 0 0 25px rgba(255, 0, 79, 0.8);
}
.services-list div:hover h2,
.services-list div:hover p,
.services-list div:hover a,
.services-list div:hover i {
    transform: perspective(600px) translateZ(30px);
    transition: transform 0.4s ease;
}
/* for slider purpose*/
.project-slider {
  padding: 40px 0;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  margin-right: 0 !important;
}

/* project card */
.project-card {
  background: #aeb1b6;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
  max-width: 340px;
  margin: auto;
  margin-top: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.project-card:hover {
  background: #ff004f;
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 20px rgba(255,0,79,0.6);
}

.project-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.project-card p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* buttons */
.project-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.project-buttons .btn {
  padding: 12px 20px;
  min-width: 130px;
  background: #222;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.project-buttons .btn:hover {
  background: #fff;
  color: #ff004f;
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(255,0,79,0.6);
}
